<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>

<h1> Add user</h1>
<form action="#" th:action="@{/addBook}" th:object="${book}" method="post">
    <p>
        Book name: <input type="text" th:field="*{name}">
    </p>
    <p>
        Book author name: <input type="text" th:field="*{authorName}">
    </p>
    <p>
        Page count: <input type="number" th:field="*{pageCount}">
    </p>
    <p>
        <input type="submit" value="Submit book">
    </p>
</form>
Existing books
<table>
    <thead>
    <th>Book name</th>
    <th>Author</th>
    <th>Page count</th>
    </thead>
    <tr th:each="testBook : ${allBooks}">
        <td th:text="${testBook.name}"></td>
        <td th:text="${testBook.authorName}"></td>
        <td th:text="${testBook.pageCount}"></td>
    </tr>
</table>

<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>