<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Log entries</title>
</head>
<body>

<table>
    <thead>
        <th>Log Level</th>
        <th>message</th>
    </thead>
    <tr th:each="tstLog : ${testLogs}">
        <td th:text="${tstLog.level}"></td>
        <td th:text="${tstLog.message}"></td>
    </tr>
</table>

</body>
</html>